* {
    box-sizing: border-box;
    caret-color: transparent;
}

.font-h-sets {
    font-family: "Pacifico";
    font-weight: 400;
    font-size:32px;
}

.font-reg-sets {
    font-family: "Shantell Sans";
    font-weight: 400;
    font-size: 24px;
}

.font-oth-sets {
    font-family: "Lobster";
    font-weight: 400;
    font-size: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
}

header nav {
    margin: 24px 3rem;
}

header h1 {
    margin-left: 3rem;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;

    list-style: none;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 1.8rem;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color:tomato;
}

.active {
    color: tomato;
}

main {
    flex:1;
    margin: 3rem 3rem 3rem 3rem;
}

section > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.single_order {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;

    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;

    cursor: pointer;
}

.single_order:hover {
    border:2px solid tomato;
    border-radius: 35px;
}

.single_order:hover button {
    background-color: lightgray;
}

.single_order > img {
    width: 100%;  
    border-radius: 35px ;
}

.single_order > button {
    border: 0;
    border-radius: 10px;
    background-color: #f1eee9;
    margin-top: 5px;
    padding: 10px 30px;
    cursor: pointer;

    font-family: "Shantell Sans";
    font-size: 16px;
    font-weight: 400;
}

.weight-p {
    color: gray;
    margin: 0;
    margin-top: 15px;
    font-size: large;
}

.name-p {
    margin: 0;
    font-size: large;
    flex: 1;
}

.price-p {
    margin: 0;
    margin-top: 15px;
    font-size: large;
}

footer {
    bottom: 100%;

    background-color: black;
    color: white;
    padding: 0.1rem 0;
    padding-left: 2rem;
}

footer p {
    margin: 0;
    padding: 1.5rem;
}

@media only screen and (max-width: 800px) {
    header ul {
        flex-direction: row;
        justify-content: space-between;
    }
    main > section > div {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {

    main {
        margin:15px;
    }

    header h1{
        margin-left: 0;
        text-align: center;
    }

    header ul{
        flex-direction: column;
        align-items: center;
    }

    header a {
        font-size: 28px;
    }

    section > h2 {
        text-align: center;
    }

    main > section > div {
        grid-template-columns: 1fr;
        align-items: stretch;
    }

}